<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <nav class="navbar navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="./../../../assets/sentence-maker-icon.png" alt="" width="30" height="24"
                            class="d-inline-block align-text-top">
                        Sentence Maker
                    </a>
                </div>
            </nav>
        </div>
    </header>

    <main *ngIf="!clicked" class="container px-3" style="margin-top: 70px">
        <h1>Have Fun and Build your Sentence</h1>

        <p class="lead">Click on the words below and build a sentence and save</p>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <h3>Nouns</h3>
                    <div class="d-grid d-md-block">
                        <span *ngFor="let noun of nouns?.data">
                            <button class="btn btn-secondary w-50" type="button" (click)="concatStrings(noun.textString)">{{ noun.textString }}</button>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <h3>Verbs</h3>
                    <div class="d-grid d-md-block">
                        <span *ngFor="let verb of verbs?.data">
                            <button class="btn btn-secondary w-50" type="button" (click)="concatStrings(verb.textString)">{{ verb.textString }}</button>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <h3>Adjectives</h3>
                    <div class="d-grid d-md-block">
                        <span *ngFor="let adjective of adjectives?.data">
                            <button class="btn btn-secondary w-50" type="button" (click)="concatStrings(adjective.textString)">{{ adjective.textString }}</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <h3>Adverbs</h3>
                    <div class="d-grid d-md-block">
                        <span *ngFor="let adverb of adverbs?.data">
                            <button class="btn btn-secondary w-50" type="button" (click)="concatStrings(adverb.textString)">{{ adverb.textString }}</button>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <h3>Pronouns</h3>
                    <div class="d-grid d-md-block">
                        <span *ngFor="let pronoun of pronouns?.data">
                            <button class="btn btn-secondary w-50" type="button" (click)="concatStrings(pronoun.textString)">{{ pronoun.textString }}</button>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <h3>Prepositions</h3>
                    <div class="d-grid d-md-block">
                        <span *ngFor="let preposition of prepositions?.data">
                            <button class="btn btn-secondary w-50" type="button" (click)="concatStrings(preposition.textString)">{{ preposition.textString }}</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <h3>Conjunctions</h3>
                    <div class="d-grid d-md-block">
                        <span *ngFor="let conjunction of conjunctions?.data">
                            <button class="btn btn-secondary w-50" type="button" (click)="concatStrings(conjunction.textString)">{{ conjunction.textString }}</button>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <h3>Determiners</h3>
                    <div class="d-grid d-md-block">
                        <span *ngFor="let determiner of determiners?.data">
                            <button class="btn btn-secondary w-50" type="button" (click)="concatStrings(determiner.textString)">{{ determiner.textString }}</button>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <h3>Exclamations</h3>
                    <div class="d-grid d-md-block">
                        <span *ngFor="let exclamation of exclamations?.data">
                            <button class="btn btn-secondary w-50" type="button" (click)="concatStrings(exclamation.textString)">{{ exclamation.textString }}</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <textarea name="textArea" id="textArea" cols="30" rows="10"></textarea>
        </div>
        <div class="container-fluid m-2">
            <button type="button" class="btn btn-outline-light" style="margin-right: 10px;" (click)="submit()">SAVE</button>
        </div>
    </main>

    <main *ngIf="clicked">
        <div class="container-fluid"><canvas id="myCanvas"></canvas></div>
        <div class="container-fluid" style="text-align:center;" ><canvas id="myCanvas2"></canvas></div>
        <div class="container-fluid m-2 footer">
            <button type="button" class="btn btn-outline-light" style="margin-right: 10px;" (click)="resubmit()">CREATE AGAIN</button>
            <button type="button" class="btn btn-outline-light" style="margin-right: 10px;" (click)="resubmit()">VIEW SENTENCES</button>
        </div>
    </main>
</div>